<div class="mobile-menu" data-menu>
  <div class="mobile-menu__container">
    <button
      class="mobile-menu__close"
      type="button"
      aria-label="Close menu"
      data-menu-close
    >
      ✕
    </button>

    <nav class="mobile-menu__nav">
      <a class="mobile-menu__link" href="./index.html">Home</a>
      <a class="mobile-menu__link" href="./favorites.html">Favorites</a>
    </nav>

    <ul class="socials mobile-menu__socials">
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <img
            class="socials__icon"
            src="./img/icon-facebook-night.svg"
            alt="Facebook"
            width="28"
            height="28"
          />
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <img
            class="socials__icon"
            src="./img/icon-instagram-night.svg"
            alt="Instagram"
            width="28"
            height="28"
          />
        </a>
      </li>
      <li class="socials__item">
        <a
          class="socials__link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <img
            class="socials__icon"
            src="./img/icon-youtube-night.svg"
            alt="YouTube"
            width="28"
            height="28"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
