<div id="modal-template" class="modal-template hidden">
  <div class="modal-template__backdrop" data-modal-close></div>
  <div class="modal-template__content">
    <button
      class="modal-template__close-btn"
      type="button"
      data-modal-close
      aria-label="Close modal"
    >
      <svg class="modal-template__close-btn-icon" aria-hidden="true">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-template__body" data-modal-body>
      <!-- Content will be inserted via JavaScript -->
    </div>
  </div>
</div>
