<div id="modal-confirm" class="modal-confirm hidden">
  <div class="modal-confirm__backdrop" data-confirm-close></div>
  <div class="modal-confirm__content">
    <p class="modal-confirm__message" data-confirm-message>
      Are you sure you want to cancel the action?
    </p>
    <div class="modal-confirm__actions">
      <button
        type="button"
        class="modal-confirm__btn modal-confirm__btn--cancel"
        data-confirm-cancel
      >
        Cancel
      </button>
      <button
        type="button"
        class="modal-confirm__btn modal-confirm__btn--confirm"
        data-confirm-ok
      >
        Yes
      </button>
    </div>
  </div>
</div>
