<div class="quote-of-the-day">
  <div class="quote-of-the-day__icon-wrap">
    <svg class="quote-of-the-day__run-icon" width="20" height="20">
      <use href="./img/icons.svg#icon-run"></use>
    </svg>
  </div>

  <div class="quote-of-the-day__container">
    <div class="quote-of-the-day__header">
      <h2 class="quote-of-the-day__title">Quote of the day</h2>
      <svg class="quote-of-the-day__commas" width="20" height="20">
        <use href="./img/icons.svg#icon-quote"></use>
      </svg>
    </div>

    <div class="quote-of-the-day__body">
      <p class="quote-of-the-day__content js-quote-content"></p>
      <p class="quote-of-the-day__author js-quote-author"></p>
    </div>
  </div>
</div>
