<div class="sidebar">
  <div class="quote-of-the-day">
    <div class="quote-of-the-day__icon-wrap">
      <svg class="quote-of-the-day__run-icon" width="20" height="20">
        <use href="./img/icons.svg#icon-run"></use>
      </svg>
    </div>

    <div class="quote-of-the-day__container">
      <div class="quote-of-the-day__header">
        <h1 class="quote-of-the-day__title">Quote of the day</h1>
        <svg class="quote-of-the-day__commas" width="20" height="20">
          <use href="./img/icons.svg#icon-quote"></use>
        </svg>
      </div>

      <div class="quote-of-the-day__body">
        <p class="quote-of-the-day__content js-quote-content"></p>
        <p class="quote-of-the-day__author js-quote-author"></p>
      </div>
    </div>
  </div>

  <picture class="sidebar__photo-card">
    <source
      media="(min-width: 1440px)"
      srcset="
        ./img/sidebar-img/sidebar-desk@1x.jpg 1x,
        ./img/sidebar-img/sidebar-desk@2x.jpg 2x
      "
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/sidebar-img/sidebar-tabl@1x.jpg 1x,
        ./img/sidebar-img/sidebar-tabl@2x.jpg 2x
      "
    />
    <img
      src="./img/sidebar-img/sidebar-mob@1x.jpg"
      srcset="
        ./img/sidebar-img/sidebar-mob@1x.jpg 1x,
        ./img/sidebar-img/sidebar-mob@2x.jpg 2x
      "
      alt="Fitness workout motivation"
      loading="lazy"
      width="335"
      height="242"
      class="sidebar__photo-card-img"
    />
  </picture>

  <div class="sidebar__daily-norm">
    <div class="sidebar__daily-norm-wrapper">
      <div class="sidebar__daily-norm-icon">
        <svg class="sidebar__daily-norm-icon-svg" width="34" height="32">
          <use href="./img/icons.svg#icon-dailynorm"></use>
        </svg>
      </div>

      <div class="sidebar__daily-norm-text-wrapper">
        <div class="sidebar__daily-norm-title-wrapper">
          <div class="sidebar__daily-norm-title">110 min</div>
          <div class="sidebar__daily-norm-subtitle">Daily norm of sports</div>
        </div>

        <div class="sidebar__daily-norm-text">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day? While it might seem like a high number to hit,
          dedicating 110 minutes daily to sporting activities may offer
          unparalleled benefits to physical health, mental well-being, and
          overall quality of life.
        </div>
      </div>
    </div>
  </div>
</div>
