:root {
  --white-color: #fff;
  --primary-color: #2f2f37;
  --border-primary: #808080;
  --btn-bg-color: #808080;
  --btn-bg-hover: #fff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 300ms;
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.15);
  --font-main: 'DM Sans', sans-serif;
  --color-header-bg-dark: #242424;
  --color-header-bg-light: #f4f4f4;
  --color-header-border-light: #e8e8e8;
  --color-header-link-hover-bg: rgba(255, 255, 255, 0.12);
  --bg-loader-color: rgba(0, 0, 0, 0.9);
  --bg-modal-overlay: rgba(4, 4, 4, 0.4);
  --color-secondary: #f4f4f466;
  --color-accent: #eea10c;
  --color-text-placeholder: #f4f4f499;
  --btn-hover-color: #e0e0e0;
  --color-border-light: #f4f4f433;
  /* animation */
  --ease-calm: cubic-bezier(0.25, 0.8, 0.25, 1);
  --anim-speed: 0.5s;
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  color: #2f2f37;
  background-color: #f4f4f4;
  margin: 0 auto;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* --- Загальний reset --- */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
}

/* Перевизначення шрифтів для iziToast */
.iziToast-wrapper,
.iziToast-capsule {
  font-family: var(--font-main, 'Roboto', sans-serif) !important;
}
