:root {
  --white-color: #fff;
  --primary-color: #2f2f37;
  --border-primary: #808080;
  --btn-bg-color: #808080;
  --btn-bg-hover: #fff;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 300ms;
  --shadow-md: 0 4px 10px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.15);
  --font-family: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  color: #2f2f37;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* --- Загальний reset --- */
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
}
/* --- Шапка пошуку --- */
header {
  width: 100%;
  box-shadow: 0 2px 4px var(--shadow-md);
  background: var(--white-color);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 10px 0;
}

.form--container {
  background: transparent;
}
