#cards-container {
  display: grid;
  grid-template-columns: auto;
  gap: 15px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  width: fit-content;
}

.card img {
  width: 100%;
  height: 225px;
  object-fit: cover;
  border-radius: 12px;
}

#pagination {
  margin-top: 24px;
  text-align: center;
}
.card div {
  position:absolute;
  width: 100%;
  height: 100%;
  color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  z-index: 100;
  top:0;
  border-radius: 12px;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.card h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;  
}

.card h3::first-letter {
  text-transform: uppercase;
}

.card span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(244,244,244,0.4);  
}

#pagination button {
  height:32px;
  width: 32px;
  border-radius: 100%;
  color: #d4d4d4;
  border: none;
  background: none;
}

#pagination button.active {
  border: 1px solid #242424;
  color: #242424;
}

@media (min-width: 768px) {
  #cards-container {
    grid-template-columns: auto auto auto;
    width: fit-content;
  }
  .card img {
    width: 100%;
    max-width: 225px;
    height: auto;
  }
  .card h3 {
    font-size: 24px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .card img {
    max-width: 290px;
  }
}