/* Styles for Mobile devices */
.container {
  min-width: 320px;
  max-width: 335px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 704px;
    padding: 0 32px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }
}
