/* Mobile styles */
.favorites-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.favorites-wrapper .main-container {
  padding: 0;
  margin-bottom: 40px;
}

.favorites-wrapper .sidebar__daily-norm-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.favorites-wrapper .sidebar__daily-norm {
  min-height: 0px;
  width: 100%;
}

.favorites-wrapper .sidebar__daily-norm-icon {
  line-height: 1;
}

.favorites-wrapper .sidebar__photo-card {
  order: 3;
  width: 100%;
  height: auto;
  max-height: 119px;
}

.favorites-wrapper .sidebar__daily-norm-text {
  display: none;
}
.favorites-wrapper .sidebar__daily-norm-title-wrapper {
  gap: 6px;
}

.favorites {
  margin-bottom: 0;
}

.title-wrapper.favorites-list {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 136%;
  letter-spacing: -0.02em;
}
.favorites-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.favorites-empty {
  list-style: none;
  text-align: center;
}

.favorites-empty p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  max-width: 335px;
  margin: 0 auto;
  color: #242424;
}

.favorites-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 40px;
  flex-wrap: wrap;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
  .favorites-wrapper {
    padding-top: 100px;
  }
  .favorites-wrapper .sidebar {
    margin-bottom: 0px;
  }
  .favorites-wrapper .main-container {
    margin-bottom: 64px;
  }

  .favorites-wrapper .quote-of-the-day {
    max-width: 1440px;
  }
  .favorites-wrapper .sidebar__daily-norm,
  .favorites-wrapper .sidebar__photo-card {
    max-width: 344px;
    min-height: 141px;
    max-height: 141px;
  }
  .favorites-wrapper .sidebar__daily-norm {
    padding: 25px;
  }
  .favorites-wrapper .sidebar__daily-norm-title {
    line-height: 133%;
  }
  .favorites-wrapper .sidebar__daily-norm-subtitle {
    line-height: 129%;
  }

  .favorites-empty {
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .favorites-empty p {
    font-size: 16px;
    max-width: 554px;
  }

  .favorites-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .favorites-list .exercises__item {
    width: 100%;
    margin-bottom: 0;
  }

  .favorites-pagination {
    margin-top: 60px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
  .favorites-wrapper {
    display: flex;
    flex-direction: row;
    gap: 32px;
    padding-top: 90px;
  }

  .favorites-wrapper .sidebar {
    min-width: 494px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
  }

  .favorites-wrapper .title {
    font-size: 44px;
    line-height: 109%;
    letter-spacing: -0.02em;
  }

  .favorites-wrapper .sidebar__daily-norm,
  .favorites-wrapper .sidebar__photo-card {
    width: 239px;
    min-width: 0px;
  }

  .favorites .sidebar {
    width: 494px;
    flex-shrink: 0;
  }

  .title-wrapper.favorites-list {
    flex-direction: row;
  }

  .favorites-empty {
    width: 100%;
  }

  .favorites-empty p {
    max-width: 481px;
  }

  .favorites-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
    margin-bottom: 50px;
    max-height: 487px;
  }
  .favorites.favorites-list {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 80px;
    min-width: 826px;
    scrollbar-gutter: stable;
  }

  .favorites-list .exercises__item {
    height: 141px;
    width: calc((100% - 16px) / 2);
  }

  .favorites-list .exercises__item .exercises__name-container {
    margin-bottom: 8px;
  }

  .favorites-pagination {
    display: none;
  }

  .favorites .exercises__item-info {
    gap: 9px;
  }
}
