.filters {
  padding-top: 24px;
  padding-bottom: 24px;
}

.filters__header {
  margin-bottom: 16px;
}

.filters__controls {
  display: block;
}

.filters__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 24px;
}

.filters__tag {
  padding: 8px 16px;
  border-radius: 999px;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #101010;
  cursor: pointer;
}

/* Табы */
.filters__tabs {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 8px;
  margin-top: 20px;
}

.filters__tab {
  position: relative;
  padding: 0 0 8px;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #9f9f9f;
  cursor: pointer;
  transition: color var(--animation-duration) var(--timing-function);
}

.filters__tab::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  border-radius: 999px;
  background-color: #101010;
  transition: width 0.3s var(--ease-calm);
}

.filters__tab--active {
  color: #101010;
  font-weight: 500;
}

.filters__tab--active::after {
  width: 100%;
}

.filters__tab:hover,
.filters__tab:focus-visible {
  color: #101010;
}

/* SEARCH BOX */

.filters__search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  /* max-width: 335px; */
  /* margin: 16px 0 20px; */

  max-width: 0;
  opacity: 0;
  visibility: hidden;

  padding: 0;
  border-radius: 30px;
  border: 1px solid #242424;
  background-color: #ffffff;

  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;

  transition: max-width var(--anim-speed) var(--ease-calm),
    opacity 0.3s var(--ease-calm), margin var(--anim-speed) var(--ease-calm),
    border-color 0.3s var(--ease-calm), visibility 0s linear var(--anim-speed);
}

.filters__search--visible {
  max-width: 335px;
  opacity: 1;
  visibility: visible;
  margin: 16px 0 20px;
  border-color: #242424;
  transition-delay: 0s;
}

.filters__input {
  width: 100%;
  min-width: 200px;
  padding: 12px 52px 12px 14px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 1.3;
  color: #101010;
  background-color: transparent;
}

.filters__input::placeholder {
  color: #8f8f8f;
}

.filters__search-btn {
  position: absolute;
  right: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

/* крестик */
.filters__clear-btn {
  position: absolute;
  right: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 18px;
  line-height: 1;
  color: #8f8f8f;

  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s var(--ease-calm);
  pointer-events: none;
}

.filters__clear-btn--visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

/* анимация для выезда поиска */
/* @keyframes filtersSearchSlide {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
} */

/* ===== Mobile & Tablet (до 1440px) ===== */
@media (max-width: 1439px) {
  /* по умолчанию поиска нет */
  /* .filters__search {
    display: none;
    animation: filtersSearchSlide 0.25s var(--timing-function);
  } */

  /* когда надо показать (Body parts) */
  /* .filters__search--visible-mobile {
    display: flex;
    animation: filtersSearchSlide 0.25s var(--timing-function);
  } */

  /* табы будут уезжать вправо, когда появится поиск */
  /* .filters__tabs {
    flex-grow: 1;
    justify-content: flex-start;
  } */
}

/* ===== Tablet (>=768px) ===== */
@media (min-width: 768px) {
  .filters {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .filters__title {
    font-size: 32px;
    margin-bottom: 32px;
    transition: font-size 0.3s var(--ease-calm);
  }

  .filters__subtitle {
    font-size: 20px;
    color: #9f9f9f;
    margin-left: 8px;
    font-weight: 400;
  }

  .filters__tags {
    gap: 12px;
    margin-bottom: 32px;
    justify-content: flex-end;
  }

  .filters__controls {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
    align-items: stretch;
    height: 50px;
  }

  .filters__search {
    margin: 0;
    /* max-width: 280px; */
  }

  .filters__search--visible {
    margin-top: 0;
    padding-bottom: 0;

    flex-grow: 1;
    margin-right: 20px;
  }

  .filters__tabs {
    justify-content: flex-end;
    gap: 24px;
  }
}

.filters__subtitle {
  color: #242424;
  opacity: 0.5;
  font-size: 16px;
  margin-left: 4px;
}

/* ===== Desktop (>=1440px) ===== */
@media (min-width: 1440px) {
  .filters__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  .filters__controls {
    flex: 0 1 570px; /* increase the width of controls container */
  }

  .filters__search {
    display: flex;
    /* opacity: 0; */
    pointer-events: none;
    transition: opacity var(--animation-duration) var(--timing-function);
  }

  .filters__search--visible {
    opacity: 1;
    pointer-events: auto;
  }
}
