.hero-title {
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: -0.02em;

}

.hero-title span {
  font-style: italic;
}

.hero-title::before {
  content: '';
  display: inline-block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><use xlink:href="../img/icons.svg#icon-sun"/></svg>'); */
  background-image: url('../img/hero/hero-star.png');
  background-size: cover;
  /* background-position: center 5px; */
}

.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--color-header-bg-dark);
}

.hero-img {
  width: 100%;
  border-radius: 30px;
  margin-bottom: 20px;
}

.hero-list {
  display: flex;
  justify-content: space-between;
}

.hero-list-item {
  border: 1px solid var(--color-header-bg-dark);
  border-radius: 30px;
  padding: 4px 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-header-bg-dark);
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 74px;
    line-height: 1;
  }

  .hero-title::before {
    width: 60px;
    height: 60px;
  }

  .hero-text {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 32px;
  }

  .hero-img {
    margin-bottom: 16px;
  }

  .hero-list-item {
    font-size: 16px;
    line-height: 1.5;
    padding: 4px 16px;
  }

  .hero-list {
    justify-content: flex-end;
    gap: 6px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 74px;
    font-weight: 400;
    line-height: 1;
  }



  .hero-list {
    flex-wrap: wrap;
    justify-content: right;
    gap: 8px;
  }


}