.main-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: space-between;
    }
}