/* Block */
.quote-of-the-day {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: var(--color-header-bg-dark);
  border-radius: 20px;
  color: var(--white-color);
  width: 295px;
}

@media screen and (min-width: 768px) {
  .quote-of-the-day {
    padding: 40px;
    gap: 16px;
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .quote-of-the-day {
    min-width: 364px;
    width: 100%;
  }
}

/* Elements */
.quote-of-the-day__icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  padding: 6px;
  background-color: var(--rating-color);
  border-radius: 50%;
}

.quote-of-the-day__run-icon {
  display: block;
}

.quote-of-the-day__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.quote-of-the-day__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}

.quote-of-the-day__title {
  font-size: 24px;
}

.quote-of-the-day__body {
  display: block;
}

.quote-of-the-day__content {
  color: var(--text-secondary-color);
  margin-bottom: 10px;
}

.quote-of-the-day__author {
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .quote-of-the-day__commas {
    width: 24px;
    height: 24px;
  }
}
