/* Block: sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: unset;
    justify-content: unset;
    column-gap: 16px;
    row-gap: 32px;
    margin-bottom: 100px;
  }

  .favorites .sidebar {
    margin-bottom: 0;
  }
}

@media (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
    gap: 32px;
    margin-bottom: 0;
    padding-bottom: 60px;
  }
}

.favorites .sidebar {
  margin-bottom: 0;
}

/* Element: photo card */
.sidebar__photo-card {
  display: block;
  border-radius: 20px;
  overflow: hidden;
  width: 335px;
  height: 242px;
  flex-shrink: 0;
}

.sidebar__photo-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media (min-width: 768px) {
  .sidebar__photo-card {
    width: 288px;
    height: 249px;
  }
}

@media (min-width: 1440px) {
  .sidebar__photo-card {
    width: 444px;
    height: 242px;
  }
}

/* Element: daily norm card */
.sidebar__daily-norm {
  background-color: var(--white-color);
  border-radius: 20px;
  height: 201px;
  padding: 20px;
}

@media (min-width: 768px) {
  .sidebar__daily-norm {
    width: 320px;
    height: 249px;
    padding: 40px;
  }
}

@media (min-width: 1440px) {
  .sidebar__daily-norm {
    width: 364px;
    height: 315px;
  }
}

.sidebar__daily-norm-wrapper {
  display: flex;
  gap: 16px;
}

.sidebar__daily-norm-title-wrapper,
.sidebar__daily-norm-text-wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar__daily-norm-title-wrapper {
  gap: 2px;
}

.sidebar__daily-norm-text-wrapper {
  gap: 16px;
}

@media (min-width: 768px) {
  .sidebar__daily-norm-text-wrapper {
    gap: 20px;
  }
}

.sidebar__daily-norm-icon-svg {
  max-width: unset !important;
}

.sidebar__daily-norm-title {
  font-size: 20px;
}

@media (min-width: 768px) {
  .sidebar__daily-norm-title {
    font-size: 24px;
  }
}

.sidebar__daily-norm-subtitle {
  color: #24242499;
  font-size: 14px;
}

.sidebar__daily-norm-text {
  font-size: 14px;
  line-height: 18px;
  max-height: 6.5em;
  overflow: hidden;
}

@media (min-width: 1440px) {
  .sidebar__daily-norm-text {
    max-height: unset;
  }
}

/* Favorites Page Styles can be used if anyone wants*/
.favorites .sidebar__daily-norm-text {
  display: none;
}

.favorites .sidebar__daily-norm {
  width: 335px;
  height: 119px;
}

.favorites .sidebar__photo-card {
  width: 335px;
  height: 119px;
}

/* Favorites layout overrides */
@media (min-width: 768px) {
  .favorites .sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 16px;
  }

  .favorites .quote-of-the-day {
    grid-column: 1 / span 2;
    width: 704px;
  }

  .favorites .sidebar__photo-card,
  .favorites .sidebar__daily-norm {
    width: 344px;
    height: 141px;
  }
}

@media (min-width: 1440px) {
  .favorites .quote-of-the-day {
    width: 494px;
  }

  .favorites .sidebar__photo-card,
  .favorites .sidebar__daily-norm {
    width: 239px;
    height: 141px;
  }
}
