<picture class="sidebar__photo-card">
  <source
    media="(min-width: 1440px)"
    srcset="
      ./img/fav-sidebar-img/sidebar-desk@1x.jpg 1x,
      ./img/fav-sidebar-img/sidebar-desk@2x.jpg 2x
    "
  />
  <source
    media="(min-width: 768px)"
    srcset="
      ./img/fav-sidebar-img/sidebar-tabl@1x.jpg 1x,
      ./img/fav-sidebar-img/sidebar-tabl@2x.jpg 2x
    "
  />
  <img
    src="./img/fav-sidebar-img/sidebar-mob@1x.jpg"
    srcset="
      ./img/fav-sidebar-img/sidebar-mob@1x.jpg 1x,
      ./img/fav-sidebar-img/sidebar-mob@2x.jpg 2x
    "
    alt="Fitness workout motivation"
    loading="lazy"
    width="335"
    height="242"
    class="sidebar__photo-card-img"
  />
</picture>
